/*https://stackoverflow.com/questions/56175268/how-to-properly-add-style-to-my-dash-app*/
/*https://www.youtube.com/watch?v=x9mUZZ19dl0*/
/*https://developer.mozilla.org/fr/docs/Web/CSS/background-color*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    margin : 0;
    padding : 0;
    background-color: #1E1E1E;

}




.h1 {
    margin-top:0;
    color : #FFFFFF;
    text-align: center;
    padding-bottom: 40%;
    font-family: "Open Sans";

}


.all_compenents{
    display:flex;

}

.map_hist{
    display: inline-block;

    flex-grow: 1;

}

.map{
    height:50vh;
}

.hist{
    height:50vh;
}

.div_left_components{
    flex-grow: 2;
    width: 30vw;
    padding: 2%;
    background-color: #1E1E1E; 

}

.elt_in_left_components{
    flex-grow: 2;
    width: 30vw;
    position: sticky;
    top:4%;

}

.check_list{
    color : #FFFFFF;

}

#DD_dept_input,#DD_adress_input{
    padding-bottom: 2%;
    background-color: transparent;
}
.DD_div{
    margin-top: 5%;
    height: 20vh;
    
}
#output_datatable{
    padding-top:23%;

}

/*************************************************************RESPONSIVE*********************************************************** */

@MEDIA (max-width: 900px){
    .all_compenents{
        display: block;
    }
    .div_left_components,.elt_in_left_components{
        width: 100%;
    }
    .DD_div{
        display: flex;
        height: 100%;
        flex-wrap: wrap;
        justify-content:center
    }
    #DD_dept_input{
        width: 40vw;
    }
    #DD_adress_input{
        width: 40vw;
    }
    #output_datatable{
        padding-top:3%;
    
    }
}
